
li {
  border: 1px solid black;
  margin-bottom: 5px;
  padding: 3px;
}

body {
  background-color: rgb(91, 208, 255);
}

h1 {
  font-size: 2.6rem;
  color: darkblue;
}

h2 {
  font-size: 2rem;
  color: darkblue;
}

.txt-db {
  color:darkblue
}

.bg-db {
  background-color: darkblue;
}

.vh-10 {
  height: 10vh;
}

.pad-top {
  padding-top: 5px;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.list-style {
  list-style: none;
}

.w-97 {
  width: 97%;
}

.w-40 {
  width: 40%;
}

.bg-orange {
  background-color: rgb(108, 255, 64);
}

.bg-green {
  background-color: rgb(255, 145, 0);
}

.w-37 {
  width: 37%;
}

.f-right {
  float: right;
}

.m-bot-1 {
  margin-bottom: 2rem;
}

.m-top-1 {
  margin-top: 1rem;
}

.top-left {
  margin: 3rem 4.6rem;
}

.m-left {
  margin-left: 1.5rem;
}

.log-board {
  border: 1px solid black;
}

.aic-start {
  align-items: center;
  justify-content: start;
  margin-left: 1rem;
}

.content-sa {
  justify-content: space-around;
}

.refresh {
  height: 1.6em;
  margin-top: 0.5rem;
}

.center {
  justify-content: center;
  align-items: center;
}