.flex {
  display: flex;
}

.w-97 {
  width: 97%;
}

.w-40 {
  width: 40%;
}

.w-37 {
  width: 37%;
}

.f-right {
  float: right;
}

.m-bot-1 {
  margin-bottom: 2rem;
}

.m-left {
  margin-left: 1.5rem;
}

.aic-start {
  align-items: center;
  justify-content: start;
  margin-left: 1rem;
}

.content-sa {
  justify-content: space-around;
}

h1 {
  font-size: 2.6rem;
}

h2 {
  font-size: 2rem;
}

.refresh {
  height: 1.6em;
  margin-top: 0.5rem;
}
